[submodule "HGenX/vendor/spdlog"]
	path = HGenX/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HGenX/vendor/GLFW"]
	path = HGenX/vendor/GLFW
	url = https://github.com/salimp2009/glfw
