[submodule "HGenX/vendor/spdlog"]
	path = HGenX/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HGenX/vendor/GLFW"]
	path = HGenX/vendor/GLFW
	url = https://github.com/salimp2009/glfw
[submodule "HGenX/vendor/imgui"]
	path = HGenX/vendor/imgui
	url = https://github.com/salimp2009/imgui
[submodule "HGenX/vendor/glm"]
	path = HGenX/vendor/glm
	url = https://github.com/g-truc/glm
